{% extends "base.html" %}
{% block title %}Get help{% endblock %}

{% block content %}
    <ptu-page-header headline="Getting help" category="Support" category-colour="blue"></ptu-page-header>
    <ptu-section class="top-padding" sidebar="right">
        <aside class="card prose" slot="sidebar">
            <h4 style="margin-top: 0">Support Request</h4>
            <p>
                We support members with advice and representation.
            </p>
            <p>
                Fill out our support form, and we'll get back to you as soon as we can.
            </p>
            <a href="/help/support-request" class="button">Open a support request</a>
        </aside>
        <article class="prose">
            <p>
                The Peterborough Tenants Union is a membership organisation. Just like trade
                unions, this means that we only provide help to people who are members.
            </p>
            <p>
                We can offer basic advice to non-members, and of course you can read the advice
                and guidance pages on this website.
            </p>
            <p>
                If you need more 'hands-on' support and you are a member (or are interested in
                becoming a member) you can send a support request, and we'll get back to you
                as soon as possible.
            </p>
            <ul>
                <li><a href="/help/support-request">Open a support request</a></li>
                <li><a href="/guidance">Read our guidance pages</a></li>
            </ul>

            <h3>Other organisations</h3>
            <p>
                You can also get help from various other organisations.
                We've included a list below of the most helpful ones.
            </p>
            <p>
                Click on the organisation name to visit their website.
            </p>
            <dl>
                <dt>
                    In an emergency call 999.
                </dt>
                <dd>
                    It's an emergency
                    if someone is in danger or a crime is being committed.
                </dd>
                <dd>
                    You can also use the European number 112.
                </dd>

                <dt>
                    <a href="https://england.shelter.org.uk/housing_advice">Shelter</a>
                </dt>
                <dd>
                    A charity dedicated to preventing homelessness.
                    They provide legal advice and support to people who are being
                    evicted.
                </dd>

                <dt>
                    <a href="https://www.citizensadvice.org.uk/">Citizens Advice</a>
                </dt>
                <dd>
                    A legal advice charity, online and in high-street branches.
                </dd>

                <dt>
                    <a href="https://www.samaritans.org/">Samaritans</a>
                </dt>
                <dd>
                    <a href="tel:116123">Call 116 123</a>
                </dd>
                <dd>
                    Samaritans are there to listen if you are experiencing stress,
                    suicidal thoughts, or just feeling overwhelmed.
                </dd>

                <dt>
                    <a href="https://www.womensaid.org.uk/">Women's Aid</a>
                </dt>
                <dd>
                    Women's aid support people who may be affected by domestic violence.
                    They provide support, advice and training.
                </dd>

                <dt>
                    <a href="https://refuge.org.uk/">Refuge</a>
                </dt>
                <dd>
                    A national domestic abuse charity.
                </dd>

                <dt>
                    <a href="https://mensadviceline.org.uk">Mens Domestic Abuse Advice Line</a>
                </dt>
                <dd>
                    The Helpline for male victims of domestic abuse.
                </dd>

                <dt>
                    <a href="https://switchboard.lgbt/">Switchboard</a>
                </dt>
                <dd>
                    Switchboard is the national LGBTQIA+ support line.
                </dd>

                <dt>
                    <a href="https://www.stepchange.org/">Stepchange</a>
                </dt>
                <dd>
                    Debt advice charity.
                </dd>
            </dl>

            <p class="top-padding">
                You may also be able to get support and advice from trade unions, many
                have free legal helplines for members.
            </p>
            <p>
                You should also speak to your Local Council housing team as soon as you
                think you are at risk of becoming homeless (i.e. as soon as you receive
                an eviction letter, if you have nowhere to move to) so that they can
                advise you on options.
            </p>
        </article>
    </ptu-section>
{% endblock %}