<ptu-navbar>
    <ptu-grid>
        <section>
            <hgroup>
                <h1 style="font-size: var(--fs-h6)">
                    Peterborough Tenants Union
                </h1>
            </hgroup>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/joib">Become a member</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contact">Get in touch</a></li>
            </ul>
        </section>

        <section>
            <hgroup>
                <h1 style="font-size: var(--fs-h6)">
                    Guidance
                </h1>
            </hgroup>
            <ul>

            </ul>
        </section>

        <section>
            <hgroup>
                <h1 style="font-size: var(--fs-h6)">
                    For members
                </h1>
            </hgroup>
            <ul>
            </ul>
        </section>
    </ptu-grid>
</ptu-navbar>